<% if user_signed_in? %>
  <div>
    <p><%= link_to '新規スレッド作成', new_topic_path, class:"new-thread" %></p>
  </div>
  <%# スレッド一覧 %>
  <p class="thread">スレッド一覧</p>
  <% @topics.each do |topic| %>
    <div class="topic-row">
      <p><%= link_to topic.title, topic_posts_path(topic.id), data: {"turbolinks" => false}, class:"title" %></p>
    </div>
  <% end %>
  <%# スレッド一覧 %>
<% else %>
  <div class="images">
    <div class="image">
      <%= image_tag 'Shohei_Ohtani_pitcher.png', :size =>'350x480' %>
      <div>
        <%= link_to '新規登録', new_user_registration_path, class:"user" %>
      </div>
    </div>
    <div class="image">
      <%= image_tag 'Shohei_Otani_batter.png', :size =>'350x480' %>
      <div>
        <%= link_to 'ログイン', new_user_session_path, class:"user" %>
      </div>
    </div>
  </div>
<% end %>