<h1>Topics#index</h1>
<% if user_signed_in? %>
  <div>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"destroy" %>
<% else %>
  <div>
    <%= link_to '新規登録', new_user_registration_path, class:"registration" %>
  </div>
  <div>
    <%= link_to 'ログイン', new_user_session_path, class:"session" %>
  </div>
  </div>
<% end %>

<div>
  <p><%= link_to '新規スレッド作成', new_topic_path, class:"new-thread" %></p>
</div>

<p>スレッド一覧</p>
<% @topics.each do |topic| %>
  <div class="topic-row">
    <p><%= link_to topic.title, topic_posts_path(topic.id), class:"title" %></p>
  </div>
<% end %>