<h1><%= link_to 'トップページ', root_path, class:"top-page" %></h1>

<div>
  <h3><%= @topic.title %></h3>
</div>

<% @posts.each do |post| %>
  <%# <div class="post" data-id = <%= @topic.id %>
  <%# <%= hidden_field_tag :topic_id, params[:topic_id] %>
  <div class="post" data-id = <%= @topic.id %> >
    <span class="name">
      名無し
    </span>
    <span class="time">
      <%= post.created_at %>
    </span>
    <p class=comment><%= post.comment %></p>
  </div>
<% end %>

<div id="list">
</div>

<%= form_with(model: [@topic, @post], id: "form" ) do |f| %>
  <div class="form-input">
  <%# <div class="form-input"  data-id = <%= @topic.id %>
    <%# <%= hidden_field_tag :topic_id, params[:topic_id] %>
    <%# <%= f.hidden_field :topic_id, value: params[:topic_id] %>
    <div>
      <%= f.text_area :comment, class: 'form-comment', id: "comment" %>
    </div>
  </div>
  <%= f.submit '投稿する', class: 'form-submit', id: "submit" %>
<% end %>