<h1><%= link_to 'トップページ', root_path, class:"top-page" %></h1>

<% @posts.each do |post| %>
  <div class="post-row">
    <span class="id">
      <%= post.id %>:
    </span>
    <span class="name">
      <%= "名無し" %>
    </span>
    <span class="time">
      <%= post.created_at %>
    </span>
    <P class=comment><%= post.comment %></p>
  </div>
<% end %>

<%= form_with(model: @post, local: true) do |f| %>
  <div class="form-input">
    内容
    <div>
      <%= f.text_area :comment, class: 'form-comment' %>
    </div>
  </div>
  <%= f.submit '投稿する', class: 'form-submit' %>
<% end %>