<div class="post-content">
  <h1><%= link_to 'トップページ', root_path, class:"top-page" %></h1>

  <div class="nickname">
    <p><h3><%= current_user.nickname%> さん</h3></p>
  </div>

  <div class="topic-title">
    <h3><%= @topic.title %></h3>
  </div>
</div>

<div class=contents>
  <% @posts.each do |post| %>
    <div class="post">
      <span class="name">
        <%= post.user.nickname %>
      </span>
      <span class="time">
        <%= post.created_at %>
      </span>
      <p class=comment><%= post.comment %></p>
    </div>
  <% end %>
</div>

<div class=lists>
  <div id="list">
  </div>
</div>

<div class="post-form">
  <%= form_with(model: [@topic, @post], id: "form" ) do |f| %>
    <div class="form-input", id="post" data-id = <%= @topic.id %>>  
      <%= f.text_area :comment, class: 'form-comment', id: "comment" %>
    </div>
    <input id="nickname" type="hidden" value=<%= current_user.nickname %>>
    <%= f.submit '投稿する', class: 'form-submit', id: "submit" %>
  <% end %>
</div>