<h1><%= link_to 'トップページ', root_path, class:"top-page" %></h1>

<% @posts.each do |post| %>
  <div class="post-row">
    <span class="id">
      <%= post.id %>:
    </span>
    <span class="name">
      <%= post.name %>
    </span>
    <span class="time">
      <%= post.created_at %>
    </span>
    <P class=content><%= post.content %></p>
  </div>
<% end %>

<%= form_with(model: @post, local: true) do |f| %>
  <div class="form-input">
    <div>
      名前<%= f.text_field :name, class: 'form-name' %>
    </div>
    <div>
      本文<%= f.text_area :content, class: 'form-content' %>
    </div>
  </div>
  <%= f.submit '投稿する', class: 'form-submit' %>
<% end %>